{% load static %}
<html>
<title>

</title>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase.js"></script>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type='text/javascript' src="static/js/unregistered.js"> </script>
    <style>
        
    </style>
</head>
<body>
<h3 id="p"></h3>
<div id="result" class="list-group"></div>
</body>
</html>